<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/common.css">

</head>

<body>
  <%- include('partials/header.ejs',{user:userId}) %>
  <div class="container">
    <div class="row">
       <div class="col-md-6">
         <br><br><br><br>
           <img src="/public/images/Logo.jpg" alt="Main Logo image" class="img-thumbnail">
       </div>
       <div class="col-md-6"><br><br>
         <h2><center>Paparless Billing System<center></h2>
          <br><br>
          <div class="reg_form">
          <h4><center>Forgot Password ?<center></h4>
             <form action="#" method="post" name="forgot_password" onsubmit="return emailValid()">
                <label for="Forgot_password_input"><b>E-mail Address</b></label>
                  <input type="text" placeholder="Enter Email ID" name="Forgot_password_input" class="form-control" id="for_emailValid" required>

                  <span style="color:red" id="for_span_content"></span>

    </br>
    <div>
    <center><button type="submit" class="btn btn-primary">Reset Password</button><center>
    </div>
  </br>
    <div class="row">
      <center>
      <span>Not a member <a href="/signup">Register Now </a></span>
      <span> _OR_ <a href="/login">Login</a></span>
      </center>
    </div>

      </form>
    </div>
</div>
</div>
<script>
function emailValid()
{
  var input_of_emailValid=document.forms["forgot_password"]["for_emailValid"].value;
  var reg_exp_for_email = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
           //var address = document.getElementById[email].value;
           //var reg_exp_email = regular_expression_for_email_validation
  if(input_of_emailValid=='')
  {
    document.getElementById("for_span_content").innerHTML="Email-ID field is blank";
    return false;
  }
  if (reg_exp_for_email.test(input_of_emailValid) == false)
  {
    document.getElementById("for_span_content").innerHTML="Invalid Email Address";
    return (false);
  }
  alert("Reset link is here");
}
</script>
<%- include('partials/footer.ejs') %>
</body>
</html>
