<div class="container reg_form">
  <div>
        <h4 class="text-center">Search User</h4>
  </div>
 <table class="table table-bordered">
   <tr>
      <td>
        <input type="text" id='search_text' class="form-control" placeholder="Enter Name or CIN" required>
      </td>
      <td>
        <div>
          <button  type="submit"  id='search' class="btn btn-primary">Search User</button>
      </div>
    </td>
      <td>
        <div>
          <button  type="submit" id="all_search" class="btn btn-primary">Show All Users</button>
       </div>
     </td>
   </tr>
 </table>
  </div>
</br>

<div class="container reg_form">
  <div>
        <h4 class="text-center">Users Table</h4>
  </div>
  <div>
  <table class="table table-bordered" id="users_details">
    <tr>
       <th width="100">CIN</th>
       <th width="150">Company Name</th>
       <th width="200">address</th>
       <th width="80">Email</th>
       <th width="80">Contact</th>
       <th width="80">Registration Date</th>
			 <th width="200">Type of Service</th>
    </tr>
  </table>
</div>
</div>
